# C/C++ build artifacts
build/
cmake-build-*/
out/
*.o
*.obj
*.exe
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.so
*.a

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
Makefile

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
